
<View>
  <HyperText name="text" value="$reviewText"/>
  <View style="box-shadow: 2px 2px 5px #999;
               margin-top: 2em;
               border-radius: 5px;">
    <Header value="Choose all purpose categories for the text between the two # signs:"/>
    <Choices name="sentiment" toName="text"
             choice="multiple" showInLine="false">
      <Choice value="Providing Service/Feature"/>
      <Choice value="Service Operation and Security"/>
      <Choice value="Analytics and Research"/>
      <Choice value="Legal Requirement"/>
      <Choice value="Merger/Acquisition"/>
      <Choice value="Advertisement"/>
    </Choices>
  </View>
</View> 
