<View>
  <Labels name="ner" toName="text">
    <Label value="User provided information" background="blue"/>
    <Label value="Automatically collected information" background="darkorange"/>
    <Label value="Unclear" background="purple"/>
  </Labels>
  <Text name="text" value="$reviewText"/>
</View>
