<!-- templates/login.html -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Label Studio Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body style="background-color:gray">
<div class="column is-4 is-offset-4">
    <center><h3 class="title has-text-black">Label Studio Login</h3>
    <hr class="login-hr">
    <p class="subtitle has-text-black">Please login to proceed.</p></center>
    <div class="box" style="background-color:white">
        <center>
        <p class="has-text-grey">
            <a href="/login">Login as Admin</a>
        </p>
        <p class="has-text-grey">
            <a href="/login">Login as Worker</a>
        </p>
    </center>   
    </div>
     
</div> 
</body>
